.modal {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 0;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  margin-top: 30px;

  @include media($medium-screen) {
    margin-top: 80px;
    @include display(flex);
    @include justify-content(center);
  }

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  // label img {
  //   border-radius: $modal-trigger-image-width / 2;
  //   display: block;
  //   max-width: $modal-trigger-image-width;
  // }

  .modal-state {
    display: none;
  }

  .button {
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
    border:none !important;
    letter-spacing: 1.19px;
    color: black !important;
    font-size: 15px !important;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    line-height: 20px;

    img {
      display: block;
      float: left;
      vertical-align: middle;;
      margin-right: 10px;
      margin-top: -3px;
      margin-bottom: -12px;
      height: 25px;
      width: 25px;
    }
    &:hover {
      background-color: #e8e8e8 !important;
    }
    @include media($medium-screen) {
      padding: 20px;
      margin-bottom: 0;
      margin-right: 20px;
      font-size: 20px !important;
      img {
        height: 36px;
        width: 36px;
        margin-top: -8px;
        margin-bottom: -12px;
      }
    }
  }

  .modal-fade-screen { // overlay
    @include transition(opacity 0.25s ease);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(#000, 0.85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, (-2em) (10px) null null);
    @include size(1.5em);
    cursor: pointer;
    z-index: 999999999999;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10%);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity 0.25s ease);
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    @include transform(translate(-50%, -50%));
    padding: 0;
    position: relative;

  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {

  }
  .button {
    border: 2px solid white;
    color: white;
    font-size: 20px;
    &:hover {
      background-color: white;
      color: $standard-gray;
    }
  }
}

.modal-open {
  overflow: hidden;
}
