body {
  //@include font-feature-settings("kern", "liga", "pnum");
//  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  text-align: center;
}
h1 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 30px; 
  letter-spacing: 5px;
  color: $white;
  
   
  @include media($medium-screen) {
    font-size: 70px;
    letter-spacing: 5px;
  }
}
h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 30px; 
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  
  @include media($medium-screen) {
    font-size: 40px;
    letter-spacing: 2px;
  }
}
h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.8px;
  
  @include media($medium-screen) {
    font-size: 20px;
    letter-spacing: 1.8px;
  }
}

p {
  margin: 0 0 $small-spacing;
  font-weight: 300;
  text-align: center;
  
  &.lead {
    font-size:20px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 20px;
    
    @include media($medium-screen) {
      font-size: 22px; 
    }
  }
}
strong {
  font-weight: 600;
}
blockquote {
  p {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 100;
    

//    &:before {
//      content: '«';
//    }
//    &:after {
//      content: '»';
//    }
  }
  
  cite {
    display: block;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
  }
    
  @include media($medium-screen) {
    font-size: 30px;
    letter-spacing: 1.2px;
  }  
}

a {
  color: $link-color;
  text-decoration: none;
  @include transition(color 0.1s linear);

  &:active,
  &:focus,
  &:hover {
    color: $darker-gray;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
